@charset "utf-8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
}
    header,
    nav,
    section,
    article,
    aside,
    footer,
    section
     {
        margin: auto;
        text-align: center;
        max-width: 95%;
        border-radius: 0.5em;
    }


body{
	background-color:FFFFFF;
	color:#000	 
}

#Cabeceraweb{
	color:#000; 
	text-align:center;
	padding:1px;
	font: bold 20px "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#Subtitulo{
	color:#ADB1B1;
	text-align:center;
	font: bold 20px "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#Barra_principal{	
	text-align:center;
	border:3px solid #000;
	border-radius:10px;
	border-radius:60px 20px 5px 60px;
	background-color: #005883;		
}

lo{
	display:inline;	
}

#Subtitulo_2{
	text-align:center;
	font:20px Verdana, Geneva, sans-serif; 
	
	}
	
#Subtitulo_3{
	text-align:left;
	font:20px Verdana, Geneva, sans-serif; 
	
	}

#Parrafo_2{
	text-align:justify;
	float:left;
	margin-left:20px auto; 
	
	}
	
#Parrafo_2{
	text-align:justify;
	
	}
	
#Parrafo_3{
	
	text-align:justify;
	
	}
	
.social-bar{
	position: fixed;
	right:0;
	top:65%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	aling-item: flex-end;
	z-index:100; 
	}

.icon{
	color:white;
	text-decoration:none;
	padding:1rem;
	display:flex;
	transition:all .5s; 
	}
.icon-twitter{
	background:#339DC5;
	}
	
.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
	}
